<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录界面</title>
</head>
<body>
<form action="login" method="post">
    <div>
        <span>用户名：</span>
        <span>
            <input name="username" value="admin" type="text">
        </span>
    </div>
    <br>
    <div>
        <span>密码&nbsp;&nbsp;&nbsp;：</span>
        <span>
            <input name="password" value="admin" type="text">
        </span>
    </div>
    <br>
    <div>
        <button type="submit">登录</button>
        记住我 <input type="radio" name="rememberMe" value="true">
    </div>
</form>
</body>
</html>